<div class="row" id = "members_rows">
	<table class = "table">
		<% if @group %>
		<div class="header">
			Join Requests to <b><%= @group.name %></b>
		</div>
		<%= "No Requests!" if @requests.blank? %>
			<% @requests.each do |req| %>
				<%= member_request_row_html(req.user.member, req.id, req.message).html_safe %><br />
			<% end %>
			<script type="text/javascript">
				$(".approve_btn").click(function(){
				  obj = $(this);
					jQuery.ajax({
	            data : {
	                request_id : obj.attr('request_id')
	            },
	            url : '/approve_join_request',
	            success : function(result) {
	                jQuery("td#td_"+obj.attr('request_id')).html("Approved");
	            },
	            error: function(result) {
	                alert(result.message);
	            }
	        });
				});
			</script>
		<% end %>
	</table>
</div>