<h3>
	<%= font_awesome('user-plus') %>
	Create a new Post <span class="badge pull-right"></span>
</h3>
<% if @post %>
	<%= render 'post_form' %>
<% else %>
	Sorry, you need to be verified before you can make posts. Please contact the <%= link_to 'admins here', "#" %>
<% end %>
