.profile_table {
	text-align: right;
	width: 50%;
    font-weight: bold;
}

.table th, .table td { 
     border-top: none !important; 
 }

 /*.profile-container {
 	margin-top: 2em;
 }*/

.icon-buttons a {
	font-size: 16px;
    letter-spacing: 0.2em;
	color: #5E5E5E;
}
.icon-buttons-free-size a {
    letter-spacing: 0.2em;
	color: #5E5E5E;
}

.icon-buttons a:hover, .icon-buttons-free-size a:hover {
	color:  #787878 ;
}
.form-control-date {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    background-image: none;
    border-bottom-color: #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
}

.header {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 15px;
    width: 100%;
}

.contents {
    padding-left: 15px;
}

/*add offset to avoid overlapping by navbar*/
body { padding-top: 70px; }